{% extends "base.html" %}

{% block headContent %}
    <title>درباره ما</title>
{% endblock headContent %}

{% block bodyContent %}
    <div class="ui hadi container" dir="rtl" style="text-align:justify; width:85%">

        <img style="width:100%" src="/media/pictures/aboutus.jpg" href="/media/pictures/landingPic.jpg">
        <br>
        <br>
        <h3>به <a class="link" style="cursor: pointer" href="/">Xtrader</a> خوش آمدید.</h3>
        <br>
        <table dir="rtl">
            <tr>
                <td style="width:40%;">
                    <div>
                        <h3>معرفی Xtrader:</h3>
                        <p>XTrader، یک دیده بان اتوماتیک بازار است، که با قابلیت­ها بی ­نظیر خود علاوه بر صرفه جویی در
                            زمان، عملکرد و سودآوری معامله گران را نیز بهبود می ­بخشد. در این پلتفرم کارهایی که بصورت
                            معمول روزانه توسط معامله گران انجام می ­شدند اتوماتیک شده­ اند. در پلتفرم XTrader معامله
                            گران امکانات بیشتری در اختیار دارند.</p>
                        <h3>کاربران Xtrader چه کسانی هستند؟</h3>
                        <p>کاربران ما تحلیل گران تکنیکال در بازار سرمایه هستند که بازار را می شناسند، همچنین استراتژی
                            معاملاتی بر حسب اندیکاتورها دارند. اما دانش یا زمان برنامه نویسی ندارند.</p>
                        <h3>Xtrader چه سرویسی ارایه می کند؟</h3>
                        <p>ما پلتفرم آنلاینی طراحی کرده ایم که استراتژی شما را متوجه می شود سپس با بک تست گرفتن و محاسبه
                            فاکتورهایی مانند میانگین بازدهی عملکرد استراتژی شما را در گذشته نشان می دهد.</p>
                        <h3>چگونه از Xtrader استفاده کنیم؟</h3>
                        <p>خیلی ساده، اول <a class="link" style="cursor:pointer" href="/media/Xtrader.pdf">راهنمای
                            استفاده</a> را مطالعه کنید، دوم ثبت نام کنید. در نهایت وارد صفحه بک تست شوید و از امکانات ما
                            لذت ببرید.</p>
                        <h3>برنامه ها آینده:</h3>
                        <p>اولا، توسعه اندیکاتورها و فیلترها.</p>
                        <p>دوما، توسعه ابزارهای سیگنال دهی بر اساس استراتژی که خودتان انتخاب کرده اید.</p>
                    </div>
                </td>
                <td>
                    <div dir="ltr">
                        <img style="width:90%" src="/media/pictures/aboutus.jpg">
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <br><br>
    <br><br>

{% endblock %}
