{% extends "base.html" %}
{% load static %}
{% block title %}بک تست{% endblock %}
{% block headContent %}
{% csrf_token %}

<link rel="stylesheet" type="text/css" href="{% static 'css/backtest.css' %}?v=1" />
<!--    <script src="//raw.githack.com/tahajahangir/jdate/master/jdate.min.js"></script>-->
<script>
    var symbol_id = "{{symbol_id}}";


</script>
<style>
    a {
        font-family: IRANSans;
    }
</style>
<script type="text/javascript" src="{% static 'js/scripts.js' %}?v=3.0.1"></script>
<script type="text/javascript" src="{% static 'js/finance.js' %}?v=1"></script>
{% endblock headContent %}

{% load i18n %}
{% block bodyContent %}
<div dir="ltr" style="height: 100%;overflow: auto;">
    <!--    <br>-->
    <div id="timeframes" style="display: none">
        <!--        <button onclick="changeTimeFrame(this)" id="1d">1d</button>-->
        <!--        <button onclick="changeTimeFrame(this)" id="4h">4h</button>-->
        <!--        <button onclick="changeTimeFrame(this)" id="1h">1h</button>-->
        <!--        <button onclick="changeTimeFrame(this)" id="30m">30m</button>-->
        <!--        <button onclick="changeTimeFrame(this)" id="15m">15m</button>-->
    </div>
    <!--    <br>-->
    <div id="container1" style="background-color: #1c1f32;">
        <div id="container" style=" min-width: 310px;min-height: 600px; width: 100%"></div>
    </div>
    <br>
    <div dir="rtl">
        <!--            {#            <div class="ui right aligned segment"><h3>فیلتر ها و اندیکاتورها:</h3></div>#}-->
        <!--            {#            <br>#}-->
        <div class="ui right aligned segment">
            <p style="display: inline">ساخت فیلتر: </p>
            <select onchange="show_div(this.value)">
                <option value="cross">قطع دادن</option>
                <option value="ascending_main">صعودی یا نزولی بودن</option>
                <!--{#                    <option value="more_than">شرط مقایسه ای</option>#}-->
                <option value="special_methods">روش ویژه</option>
                <option value="advance_cross">قطع دادن پیشرفته</option>
                <option value="just draw"> رسم اندیکاتورها</option>
                <!--                    <option value="config_trade">تنظیمات بک تست</option>-->
                <!--
                <option value="TSE_Filters">فیلتر نویسی</option>
                <option value="draw line">رسم خطوط</option>
                <option value="Technical_Patterns">Candlestick Patterns</option>
                -->
            </select>
            <a href="https://aparat.com/v/eFZCX">
                <button class="positive ui button">مشاهده ویدیو آموزشی</button>
            </a>

        </div>
        <div>
            <div>
                <div class="ui segments">
                    <div class="ui right aligned segment" id="cross" dir="rtl" style="display:block;">
                        <p class="about">قطع دادن یک اندیکاتور با یک اندیکاتور دیگر یا یک مقدار ثابت: </p>
                        <br>
                        <br>
                        <div>
                            اندیکاتور:
                            <div class="about">
                                <select id="shorter" dir="ltr" class="long-select" onchange="insert_param('shorter');
                        ">
                                    <option value="">shorter</option>
                                </select>
                            </div>
                            <p style="margin-right: 3%; display: inline-block">با اعمال روی:</p>
                            <select id="shorter_apply">
                                <option value="default">پیش فرض</option>
                                <option value="close">close</option>
                                <option value="high">high</option>
                                <option value="low">low</option>
                                <option value="open">open</option>
                                <option value="volume">volume</option>
                            </select>
                            <p id="shorter_param" dir="ltr" style="text-align: right"></p>
                            <!--                                {# </div> #}-->
                            اندیکاتور:
                            <div class="about">
                                <select id="longer" dir="ltr" class="long-select" onchange="insert_param('longer');
                        /*var w = (this.value.length + 1) * 8+4 ;if(w<70){w=130;} this.style.width = w + 'px';*/">
                                    <option value="">longer</option>
                                </select>
                            </div>
                            <p style="margin-right: 3%; display: inline-block">با اعمال روی:</p>
                            <select id="longer_apply">
                                <option value="default">پیش فرض</option>
                                <option value="close">close</option>
                                <option value="high">high</option>
                                <option value="low">low</option>
                                <option value="open">open</option>
                                <option value="volume">volume</option>
                            </select>
                            <p id="longer_param" dir="ltr" style="text-align: right"></p>
                            <br>
                            را در هنگام خرید رو به بالا و در هنگام فروش رو به پایین قطع کند. همچنین سیگنال این فیلتر
                            برای
                            <input id="valid_cross" value=2 type="number"
                                onchange="let val = Math.round(this.value);if(val<0){val=-1*val};this.value=Math.max(val, 1);"
                                style="width: 6%" required>
                            کندل معتبر باشد.
                            <br>
                            نمودار
                            <select id="cross_chart_place">
                                <option value="on_chart">روی قیمت</option>
                                <option value="below_chart">جدید</option>
                            </select>
                            <button class="positive ui button" style="float: left;" onclick="call_add('cross')">اضافه
                                کردن
                            </button>

                        </div>
                    </div>
                    <div class="ui right aligned segment" style="display:none;" id="ascending_main" dir="rtl">
                        <p>تشخیص صعودی یا نزولی بودن یک اندیکاتور:</p>
                        <div>
                            اندیکاتور
                            <select id="ascending" dir="ltr" class="long-select"
                                onchange="insert_param('ascending'); /*var w = (this.value.length + 1) * 8+4 ;if(w<70){w=130;} this.style.width = w + 'px';*/">
                                <option value="">ascending</option>
                            </select>
                            <p style="margin-right: 3%; display: inline-block">با اعمال روی:</p>
                            <select id="ascending_apply">
                                <option value="default">پیش فرض</option>
                                <option value="close">close</option>
                                <option value="high">high</option>
                                <option value="low">low</option>
                                <option value="open">open</option>
                                <option value="volume">volume</option>
                            </select>
                            <p id="ascending_param" dir="ltr" style="text-align: right"></p>
                            برای <input type="number" id="days_ascending" value="3" style="width: 6%"> کندل, در هنگام
                            خرید صعودی و در هنگام فروش نزولی باشد. همچنین سیگنال این فیلتر برای
                            <input type="number" id="valid_ascending"
                                onchange="let val = Math.round(this.value);if(val<0){val=-1*val};this.value=Math.max(val, 1);"
                                value="2" style="width: 6%"> کندل معتبر باشد.
                            <br><br>
                            نمودار
                            <select id="ascending_chart_place">
                                <option value="below_chart">جدید</option>
                                <option value="on_chart">روی قیمت</option>
                            </select>
                            <button type="submit" class="positive ui button" style="float: left;"
                                onclick="call_add('ascending')">اضافه کردن
                            </button>
                        </div>
                    </div>
                    <div class="ui right aligned segment" id="more_than" style="display:none;" dir="rtl">
                        <p>شرط گذاشتن برای انجام خرید و فروش با مقایسه دو اندیکاتور: </p>
                        هنگام معامله اندیکاتور
                        <select id="main" dir="ltr" class="long-select" onchange="insert_param('main')">
                            <option value="">main</option>
                        </select>
                        <!--                            {# با اعمال روی: #}-->
                        <select id="main_apply" style="display:none">
                            <option value="default">پیش فرض</option>
                            <option value="close">close</option>
                            <option value="high">high</option>
                            <option value="low">low</option>
                            <option value="open">open</option>
                            <option value="volume">volume</option>
                        </select>
                        <p id="main_param" dir="ltr" style="text-align: right"></p>
                        از اندیکاتور
                        <select id="minor" dir="ltr" class="long-select" type="search" onchange="insert_param('minor')">
                            <option value="">minor</option>
                        </select>
                        <!--                            {# با محاسبه روی: #}-->
                        <select id="minor_apply" style="display:none">
                            <option value="default">پیش فرض</option>
                            <option value="close">close</option>
                            <option value="high">high</option>
                            <option value="low">low</option>
                            <option value="open">open</option>
                            <option value="volume">volume</option>
                        </select>
                        <p id="minor_param" dir="ltr" style="text-align: right"></p>
                        بیشتر باشد. همچنین سیگنال این فیلتر برای <input type="number" id="valid_more"
                            onchange="let val = Math.round(this.value);if(val<0){val=-1*val};this.value=Math.max(val, 1);"
                            value="2" style="width: 6%"> معتبر باشد.
                        <br><br>
                        نمودار
                        <select id="more_chart_place">
                            <option value="on_chart">روی قیمت</option>
                            <option value="below_chart">جدید</option>
                        </select>
                        </select>
                        <button type="submit" class="positive ui button" style="float: left;"
                            onclick="call_add('more')">اضافه کردن
                        </button>
                    </div>
                    <div class="ui right aligned segment" style="display: none" id="special_methods" dir="rtl">
                        <p>تشخیص سیگنال یک اندیکاتور با روش خاص خودش: </p>
                        <select id="special" dir="ltr" class="long-select"
                            onchange="insert_param('special');describe(this.value);">
                            <option value="">
                                special
                            </option>
                            <option value="MACD(Moving Average Convergence/Divergence)">
                                MACD(Moving Average Convergence/Divergence)
                            </option>
                        </select>
                        <!--                            {# با اعمال روی: #}-->
                        <select id="special_apply" style="display:none">
                            <option value="default">پیش فرض</option>
                            <option value="close">close</option>
                            <option value="high">high</option>
                            <option value="low">low</option>
                            <option value="open">open</option>
                            <option value="volume">volume</option>
                        </select>
                        <p id="special_param" dir="ltr" style="text-align: right"></p>
                        <p id="describe"></p>
                        سیگنال این فیلتر برای <input type="number" id="valid_special"
                            onchange="let val = Math.round(this.value);if(val<0){val=-1*val};this.value=Math.max(val, 1);"
                            value="2" style="width: 6%">
                        کندل
                        معتبر باشد.
                        <br><br>
                        نمودار
                        <select id="special_chart_place">
                            <!--{#                                <option value="on_chart">روی قیمت</option>#}-->
                            <option value="below_chart">جدید</option>
                        </select>
                        <button type="submit" class="positive ui button" style="float: left;"
                            onclick="call_add('special')">اضافه کردن
                        </button>
                    </div>

                    <div class="ui right aligned segment" id="config_trade" style="display:none;" dir="rtl">
                        <div> حد سود:
                            <select id="take profit apply" style="display:none">
                                <option value="close">پایانی</option>
                                <option value="high">بیشترین</option>
                                <option value="low">کمترین</option>
                                <option value="open">اولین</option>
                            </select>
                            <input type="number" id="take profit value" value="0"> دلار،
                        </div>
                        <div> حد ضرر:
                            <select id="stop loss apply" style="display:none">
                                <option value="close">پایانی</option>
                                <option value="high">بیشترین</option>
                                <option value="low">کمترین</option>
                                <option value="open">اولین</option>
                            </select>
                            <input type="number" id="stop loss value" value="0"> دلار،
                        </div>
                        <br>
                        <p> موجودی اولیه: <input type="number" min="0" id="config_initial deposit" value="1000000">
                            دلار
                        </p>
                        <!--
                            <input type="date" max="1979-12-31"><br>
                            -->
                        <br><br>
                    </div>


                    <div class="ui right aligned segment" id="TSE_Filters" style="display:none;" dir="rtl"
                        type="number">
                        <textarea style="color: black;" id="filters_script" type="query" dir="ltr"
                            placeholder="فیلتر خود را اینجا بنویسید"></textarea>
                        <div type="submit" class="ui button" style="float: left;"
                            onclick="filter_market(document.getElementById('filters_script').value)">اسکن بازار
                        </div>
                        <br><br>
                    </div>

                    <div class="ui right aligned segment" style="display: none" dir="rtl" id="advance_cross">
                        <p>قطع دادن ترکیبی اندیکاتورها: </p>
                        <div>
                            در هنگام خرید اندیکاتور
                            <div class="about">
                                <select id="buying shorter" dir="ltr" class="long-select" onchange="insert_param('buying shorter');document.getElementById('selling shorter').value=this.value;insert_param('selling shorter');
                        ">
                                    <option value="">buying shorter</option>
                                </select>
                            </div>
                            <!--                                {# با اعمال روی: #}-->
                            <select id="buying shorter_apply" style="display:none">
                                <option value="default">پیش فرض</option>
                                <option value="close">close</option>
                                <option value="high">high</option>
                                <option value="low">low</option>
                                <option value="open">open</option>
                                <option value="volume">volume</option>
                            </select>
                            <p id="buying shorter_param" dir="ltr" style="text-align: right"></p>
                            اندیکاتور
                            <div class="about">
                                <select id="buying longer" dir="ltr" class="long-select"
                                    onchange="insert_param('buying longer');document.getElementById('selling longer').value=this.value;insert_param('selling longer');">
                                    <option value="">buying longer</option>
                                </select>
                                <!--                                    {# با اعمال روی: #}-->
                                <select id="buying longer_apply" style="display:none">
                                    <option value="default">پیش فرض</option>
                                    <option value="close">close</option>
                                    <option value="high">high</option>
                                    <option value="low">low</option>
                                    <option value="open">open</option>
                                    <option value="volume">volume</option>
                                </select>
                                را رو به بالا قطع کند.
                            </div>
                            <p id="buying longer_param" dir="ltr" style="text-align: right"></p>
                            و در هنگام فروش اندیکاتور
                            <div class="about">
                                <select id="selling shorter" dir="ltr" class="long-select"
                                    onchange="insert_param('selling shorter');">
                                    <option value="">selling shorter</option>
                                </select>
                            </div>
                            <!--                                {# با اعمال روی: #}-->
                            <select id="selling shorter_apply" style="display:none">
                                <option value="default">پیش فرض</option>
                                <option value="close">close</option>
                                <option value="high">high</option>
                                <option value="low">low</option>
                                <option value="open">open</option>
                                <option value="volume">volume</option>
                            </select>
                            <p id="selling shorter_param" dir="ltr" style="text-align: right"></p>
                            اندیکاتور
                            <div class="about">
                                <select id="selling longer" class="long-select"
                                    onchange="insert_param('selling longer');" dir="ltr">
                                    <option value="">selling longer</option>
                                </select>
                            </div>
                            <!--                                {# با اعمال روی: #}-->
                            <select id="selling longer_apply" style="display:none">
                                <option value="default">پیش فرض</option>
                                <option value="close">close</option>
                                <option value="high">high</option>
                                <option value="low">low</option>
                                <option value="open">open</option>
                                <option value="volume">volume</option>
                            </select>
                            را رو به پایین قطع کند.
                            <p id="selling longer_param" dir="ltr" style="text-align: right"></p>
                            همچنین سیگنال این فیلتر برای <input id="valid_advance_cross"
                                onchange="let val = Math.round(this.value);if(val<0){val=-1*val};this.value=Math.max(val, 1);"
                                value=2 type="number" style="width: 6%" required>
                            کندل معتبر باشد.
                            <br><br>
                            نمودار
                            <select id="advance_cross_chart_place">
                                <option value="on_chart">روی قیمت</option>
                                <option value="below_chart">جدید</option>
                            </select>
                            <button type="submit" class="positive ui button" style="float: left;"
                                onclick="call_add('advance_cross')">اضافه کردن
                            </button>

                        </div>
                    </div>
                    <div class="ui right aligned segment" style="display: none" dir="rtl" id="just draw">
                        <p>اندیکاتورهای این قسمت تنها رسم می شوند و در بک تست و غیره در نظر گرفته نمی شود.</p>
                        <select id="draw" onchange="insert_param('draw')" class="long-select" dir="ltr">
                            <option value="">
                                draw
                            </option>
                        </select>
                        <!--                            {# با اعمال روی: #}-->
                        <select id="draw_apply" style="display:none">
                            <option value="default">پیش فرض</option>
                            <option value="close">close</option>
                            <option value="high">high</option>
                            <option value="low">low</option>
                            <option value="open">open</option>
                            <option value="volume">volume</option>
                        </select>
                        <p id="draw_param" dir="ltr" style="text-align: right"></p>
                        <input type="number" id="valid_draw" value="2" style="width: 6%;display:none">
                        نمودار
                        <select id="draw_chart_place">
                            <option value="on_chart">روی قیمت</option>
                            <option value="below_chart">جدید</option>
                        </select>
                        <button type="submit" class="positive ui button" style="float: left; font-family: IRANSans"
                            onclick="call_add('draw')">
                            اضافه
                            کردن
                        </button>
                    </div>
                    <!--                        <div class="ui right aligned segment" style="display: none" id="draw line">-->
                    <!--                            Choose drawing method:-->
                    <!--                            <select id="draw line" onchange="console.log('line changed')">-->
                    <!--                                <option value="line">-->
                    <!--                                    line-->
                    <!--                                </option>-->
                    <!--                            </select>-->
                    <!--                            <p class="about">To draw line choose two points by clicking</p>-->
                    <!--                            <button type="submit" style="display:inline;float: right;"-->
                    <!--                                    onclick="let_draw({'tool':document.getElementById('draw line').value,'status':Number(1)})">-->
                    <!--                                add-->
                    <!--                            </button>-->
                    <!--                        </div>-->
                    <br>
                    <!--                    <div class="ui right aligned segment" id=" place" dir="rtl">-->
                    <!--                        <h5 style="font-family: IRANSans">مدیریت استراتژی:-->
                    <!--                        </h5>-->
                    <!--                        <table>-->
                    <!--                            <tr>-->
                    <!--                                <td>نام:</td>-->
                    <!--                                <td>مووینگ</td>-->
                    <!--                            </tr>-->
                    <!--                            <tr>-->
                    <!--                                <td>تایم فریم:</td>-->
                    <!--                                <td>-->
                    <!--                                    <input value="4h" style="width:100%">-->
                    <!--&lt;!&ndash;                                    <select>&ndash;&gt;-->
                    <!--&lt;!&ndash;                                        <option>30m</option>&ndash;&gt;-->
                    <!--&lt;!&ndash;                                        <option>4h</option>&ndash;&gt;-->
                    <!--&lt;!&ndash;                                    </select>&ndash;&gt;-->
                    <!--                                </td>-->
                    <!--                            </tr>-->
                    <!--                            <tr>-->
                    <!--                                <td>واچ لیست:</td>-->
                    <!--                                <td>-->
                    <!--                                    <select>-->
                    <!--                                        <option>پیش فرض</option>-->
                    <!--                                        <option>30m</option>-->
                    <!--                                    </select>-->
                    <!--                                </td>-->
                    <!--                            </tr>-->
                    <!--                            <tr>-->
                    <!--                                <td>وضعیت:</td>-->
                    <!--                                <td>-->
                    <!--                                    ذخیره نشده-->
                    <!--                                </td>-->
                    <!--                            </tr>-->
                    <!--                        </table>-->
                    <!--                        <div class="ui form" align="right">-->
                    <!--                            <div class="grouped fields" id="">-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <!--                    <div class="ui placeholder segment">-->
                    <!--                        <div class="ui two column stackable center aligned grid">-->
                    <!--                            <div class="ui vertical divider"></div>-->
                    <!--                            <div class="middle aligned row">-->
                    <!--                                <div class="column">-->
                    <!--                                    استراتژي:-->
                    <!--                                    <select>-->
                    <!--                                        <option>new</option>-->
                    <!--                                    </select>-->
                    <!--                                    <div class="ui right aligned segment" dir="rtl">-->
                    <!--                                        <h5 style="font-family: IRANSans">فیلترها:-->
                    <!--                                        </h5>-->
                    <!--                                        <div class="ui form" align="right">-->
                    <!--                                            <div class="grouped fields" id="strategies">-->
                    <!--                                            </div>-->
                    <!--                                        </div>-->
                    <!--                                    </div>-->
                    <!--                                </div>-->
                    <!--                                <div class="column">-->
                    <!--                                    <div class="ui right aligned segment" id=" place" dir="rtl">-->
                    <!--                                        <h5 style="font-family: IRANSans">مدیریت استراتژی:-->
                    <!--                                        </h5>-->
                    <!--                                        <table>-->
                    <!--                                            <tr>-->
                    <!--                                                <td>نام:</td>-->
                    <!--                                                <td>مووینگ</td>-->
                    <!--                                            </tr>-->
                    <!--                                            <tr>-->
                    <!--                                                <td>تایم فریم:</td>-->
                    <!--                                                <td>-->
                    <!--                                                    <input value="4h" style="width:100%">-->
                    <!--                                                    &lt;!&ndash;                                    <select>&ndash;&gt;-->
                    <!--                                                    &lt;!&ndash;                                        <option>30m</option>&ndash;&gt;-->
                    <!--                                                    &lt;!&ndash;                                        <option>4h</option>&ndash;&gt;-->
                    <!--                                                    &lt;!&ndash;                                    </select>&ndash;&gt;-->
                    <!--                                                </td>-->
                    <!--                                            </tr>-->
                    <!--                                            <tr>-->
                    <!--                                                <td>واچ لیست:</td>-->
                    <!--                                                <td>-->
                    <!--                                                    <select>-->
                    <!--                                                        <option>پیش فرض</option>-->
                    <!--                                                        <option>30m</option>-->
                    <!--                                                    </select>-->
                    <!--                                                </td>-->
                    <!--                                            </tr>-->
                    <!--                                            <tr>-->
                    <!--                                                <td>وضعیت:</td>-->
                    <!--                                                <td>-->
                    <!--                                                    ذخیره نشده-->
                    <!--                                                </td>-->
                    <!--                                            </tr>-->
                    <!--                                        </table>-->
                    <!--                                        <div class="ui form" align="right">-->
                    <!--                                            <div class="grouped fields" id="">-->
                    <!--                                            </div>-->
                    <!--                                        </div>-->
                    <!--                                    </div>-->
                    <!--                                </div>-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                    </div>-->


                    <div class="ui right aligned segment" dir="rtl">
                        <h5 style="font-family: IRANSans">مدیریت استراتژی:</h5>
                        <div>
                            <div class="four column row">
                                <div class="column customColumnsX">
                                    <td>
                                        استراتژی:
                                    </td>
                                    <td>
                                        <select style="width:10rem;" id="strategyNames" onchange="load_strategy()">
                                            <option value="">جدید</option>
                                        </select>

                                        <!--                                        <input onkeydown="changeIsStrategySaved(false)" id="strategyName"-->
                                        <!--                                               style="width:10rem; color:white" placeholder="انتخاب نام">-->
                                        <!--                                        <i class="edit icon"></i>-->
                                        <!--                                        <i class="edit outline icon"></i>-->
                                    </td>

                                </div>
                                <div class="column customColumnsX">
                                    <td>
                                        وضعیت:
                                    </td>
                                    <td>
                                        <input id="strategySavingStatus" style="background-color: #1c1f32; width:10rem"
                                            disabled>
                                    </td>

                                </div>
                                <div class="column customColumnsX">
                                    <td>
                                        تایم فریم:
                                    </td>
                                    <td>
                                        <select style="width:10rem" id="strategyTimeFrame"
                                            onchange="changeTimeFrame(this.value)"></select>
                                    </td>

                                </div>
                                <div class="column customColumnsX">
                                    <td>
                                        واچ لیست:
                                    </td>
                                    <td>
                                        <select style="width: 10rem;" id="watchListNames" onchange="changeWatchList()">
                                            <option>پیش فرض</option>
                                        </select>
                                        <a href="/profile-setup/?s=watchlist" title="ساخت واج‌لیست جدید"><i
                                                class="plus icon" style="color: #00ca9d"></i></a>
                                        <!--                                        <i class="plus circle icon"></i>-->
                                        <!--                                        <i class="plus square icon"></i>-->
                                        <!--                                        <i class="plus square outline icon"></i>-->
                                        <!--                                        <i class="qrcode icon"></i>-->
                                    </td>

                                </div>
                            </div>
                        </div>
                        <br>
                        <h5 style="font-family: IRANSans">فیلترها:
                        </h5>
                        <div class="ui form" align="right">
                            <div class="grouped fields" id="strategies">
                                برای ساخت فیلتر از ابزارهای بالا استفاده کنید.
                                <!--<i class="trash icon" style="color:rgb(227, 92, 103)"></i>-->
                                <!--<i class="trash alternate icon" style="color:rgb(227, 92, 103)"></i>-->
                                <!--<i class="trash alternate outline icon" style="color:rgb(227, 92, 103)"></i>-->
                            </div>
                            <div class="ui top attached tabular menu" dir="rtl" style="color:white">
                                <button id="back_test_button" class="item"
                                    onclick="toggle(this);this.style.color = 'white';">بک تست</button>
                                <button id="scan_button" class="item"
                                    onclick="toggle(this);this.style.color = 'white';">اسکن بازار</button>
                                <button id="delete_all_button" class="left negative item"
                                    onclick="delete_all(['symbol_ids', 'indicators', 'back test', 'scan', 'filters'], true);this.style.color = 'white';">حذف
                                    استراتژی</button>
                                <button id="save_button" class="item"
                                    onclick="toggle(this);save_filters('default');this.style.color = 'white';">ذخیره
                                    استراتژی</button>
                            </div>
                        </div>
                    </div>
                    <!--                    <br>-->


                    <div dir="rtl" id='table_place' style="display:none">
                    </div>
                    <div id="scan-place" class="ui segment" style="display: none;" dir="rtl">
                        <div id="scan result" class="ui form" align="left">
                            <div class="ui horizontal segments">
                                <div class="ui right aligned segment" dir="rtl"
                                    style="text-align:right;width: 50%;max-width: 50%">
                                    <p class="title row">سیگنال خرید:</p>
                                    <div style="max-height: 200px;overflow:auto">
                                        <div id="scan result buy" class="ui relaxed divided list">
                                        </div>
                                    </div>
                                </div>
                                <div class="ui right aligned segment" dir="rtl"
                                    style="text-align:right;width: 50%;max-width: 50%">
                                    <p class="title row">سیگنال فروش:</p>
                                    <div style="max-height: 200px;overflow:auto">
                                        <div id="scan result sell" class="ui relaxed divided list">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <!--    <div id="button_place" class="ui top attached tabular menu" dir="rtl">-->
    <!--    </div>-->

    <div id="results"></div>

    <!--    <div id="results" class="ui bottom attached segment" style="display: none">-->
    <!--        <div dir="rtl" id='table_place' style="display:none">-->
    <!--        </div>-->
    <!--        <div id="scan-place" class="ui segment" style="display: none;" dir="rtl">-->
    <!--            <div id="scan result" class="ui form" align="left">-->
    <!--                <div class="ui horizontal segments">-->
    <!--                    <div class="ui right aligned segment" dir="rtl" style="text-align:right;width: 50%;max-width: 50%">-->
    <!--                        <p class="title row">سیگنال خرید:</p>-->
    <!--                        <div style="max-height: 200px;overflow:auto">-->
    <!--                            <div id="scan result buy" class="ui relaxed divided list">-->
    <!--                            </div>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                    <div class="ui right aligned segment" dir="rtl" style="text-align:right;width: 50%;max-width: 50%">-->
    <!--                        <p class="title row">سیگنال فروش:</p>-->
    <!--                        <div style="max-height: 200px;overflow:auto">-->
    <!--                            <div id="scan result sell" class="ui relaxed divided list">-->
    <!--                            </div>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->

    <!--    </div>-->

    <br><br><br><br>
    <div id="modal" class="modal" style="display: none;z-index:20" dir="rtl">
        <div class="ui icon floating message" style="background-color:#00ca9d">
            <i class="notched circle loading icon"></i>
            <div class="content">
                <div class="header" style="font-family: IRANSans">
                    لطفا صبر کنید.
                </div>
                <p> رمزثروت در حال محاسبه است.</p>
            </div>
        </div>
    </div>
</div>

{% endblock bodyContent %}