{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/png" href="/media/icons/backtest.png">



    <!-- Needed stylesheets start -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/semantic.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
    <!-- Needed stylesheets end -->



    <!-- Needed scripts start -->
    <!--    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>-->
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/highstock.js"></script>
    <script src="/static/js/highcharts-more.js"></script>
    <script src="/static/js/jdate.min.js"></script>
    <script src="/static/js/semantic.min.js"></script>
    <script type="text/javascript" src="{% static 'js/base.js' %}"></script>
    <script>
        $(document).ready(function () {
            $("#search-btn").click(function () {
                $("#search-bar").toggle();
            });
        });
    </script>
    <!-- Needed scripts start -->



    {% block headContent %}
    {% endblock headContent %}
</head>

<body>
    <div id="top-right-elements-container">
        <a href="#" id="notif-btn"></a>
        <div id="user-info">
            {{ name }}
        </div>
    </div>
    <div class="ui container" id="search-bar" dir="rtl"
        style="position: relative;top:2.4%; left:0; right:0;text-align:center; display:none;">
        <div id="search" class="ui fluid category search">
            <div class="ui icon input" style="width:50%;">
                <input class="prompt" type="search" placeholder="جستجو نماد">
                <i class="search icon"></i>
            </div>
            <div class="results" style="width:50%; margin-left: 25%; display:none; z-index:1000; position:absolute"
                dir="ltr"></div>
        </div>
    </div>


    <img src="/media/icons/logon.png" id="logo-svg" style="width:124px;height:48px;">

    <ul id="top-btns">
        <a href="{% url 'finance:stockwatch' %}" title="خانه">
            <li class="main-btns" id="home-btn"></li>
        </a>
        <li class="main-btns" id="search-btn" title="جستجو نماد"></li>


        <!--        <a id="copytradingIcon" href="{% url 'social:copy-trading' %}">-->
        <!--            <li class="main-btns" id="marketwatch-btn" title="کپی تریدیگ"></li>-->
        <!--        </a>-->
        <a href="{% url 'finance:backtest' %}" title="بک تست">
            <li class="main-btns" id="backtest-btn"></li>
        </a>
    </ul>
    <!--    <script>-->
    <!--        let hostName = window.location.host.split('.')[0];-->
    <!--        if ([127, 'uat', '127', 'test'].indexOf(hostName) === -1){-->
    <!--            console.log('not show copytrade');-->
    <!--            document.getElementById('copytradingIcon').style.display = 'none';-->
    <!--        }-->
    <!--    </script>-->

    <!-- left menu buttons -->

    <ul id="left-btns">
        <a href="/profile-setup">

            <li class="main-btns" id="setting-btn" title="تنظیمات"></li>
        </a>
        <a href="{% url 'accounts:userena_sign_out' %}" title="خروج">
            <li class="main-btns" id="logout-btn"></li>
        </a>
    </ul>

    <div id="master__wrapper">
        {% block bodyContent %}

        {% endblock bodyContent %}
    </div>
    <div id="modal" class="modal" style="display: none;z-index:20" dir="rtl">
        <div class="ui icon floating message" style="background-color:#00ca9d">
            <i class="notched circle loading icon"></i>
            <div class="content">
                <div class="header" style="font-family: IRANSans">لطفا صبر کنید.</div>
                <p> XTreasury در حال محاسبه است.</p>
            </div>
        </div>
    </div>

</body>

</html>