{% load static %}
<!doctype html>
<html dir="rtl" lang="fa">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        // Add smooth scrolling to all links
        $("a").on('click', function (event) {

            // Make sure this.hash has a value before overriding default behavior
            if (this.hash !== "") {
                // Prevent default anchor click behavior
                event.preventDefault();

                // Store hash
                var hash = this.hash;

                // Using jQuery's animate() method to add smooth page scroll
                // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
                $('html, body').animate({
                    scrollTop: $(hash).offset().top
                }, 800, function () {

                    // Add hash (#) to URL when done scrolling (default click behavior)
                    window.location.hash = hash;
                });
            } // End if
        });
    });
</script>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>رمزثروت</title>
    <link rel="icon" type="image/png" href="/media/img/sign.png">
    <!--    <link rel="icon" type="image/png" href="/media/icons/backtest.png">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <style>
        p {
            text-align: justify;
        }
    </style>
</head>

<body>
    <!----------------------------- Header & animation section---------------------------- -->
    <section class="fullpage" id="header">
        <div id="particle">
            <div id="overlay">
                <!--{#            <img src="/media/icons/logo.svg">#}-->
                <!--            <img src="/media/icons/logon.png">-->
                <br>
                <br>
                <br>
                <img src="/media/icons/farsi.tag.png">

                <h2 style="font-size:30px">دستیار معاملاتی رمزارزها</h2>
                <br>
                <ul>
                    <!--                    <li>کپی تریدینگ، دنبال کردن معاملات دیگران</li>-->
                    <li>ساخت ربات، با اندیکاتورهای تکنیکال</li>
                    <li>ترید در بایننس، بدون فیلتر شکن و VPN</li>
                </ul>
                <div id="btn_wrapper">
                    <a href="{% url 'accounts:userena_sign_in' %}">
                        <h3 id="sign_in">ورود</h3>
                    </a>
                    <a href="{% url 'accounts:userena_sign_up' %}">
                        <h3 id="sign_up">ثبت‌نام</h3>
                    </a>
                    <!--                <a id="what_we_do" href="#what_we_do2"> ما چه می‌کنیم؟</a>-->
                </div>
            </div>
            <!--
        <div id="parallax_container">
            <div id="overview_img"></div>
        </div>
        -->
        </div>
        <script src="{% static 'js/particle.js' %}"></script>
    </section>
    <!------------------------------ Online srategy section ------------------------------>
    <section class=" container-fluid" id="online_strategy">
        <div class="row">
            <h1 class="col-12">يک قدم جلوتر از بازار‌</h1>
            <div id="boxes_parent"></div>
            <div class=" col-12 col-md-4" style="text-align: center; margin: 20px 0px;">
                <img src="/media/img/presentation.svg" alt="Market Watch">
                <h2 style="font-weight: 900;">بکتست استراتژی</h2>
                <p>
                <ul>
                    <li>ساخت استراتژی با اندیکاتورها</li>
                    <li>بک تست و بهبود استراتژي</li>
                    <li>اتصال به تلگرام</li>
                </ul>
                </p>
                <!--                <h2 style="font-weight: 900;">کپی تریدینگ</h2>-->
                <!--                <p>-->
                <!--                    <ul>-->
                <!--                        <li>مقایسه عملکرد تریدرها با بیت‌کوین</li>-->
                <!--                        <li>کپی کردن سفارشات در بازار اسپات بایننس</li>-->
                <!--                        <li>پرداخت حق اشتراک برای کپی کردن سفارشات</li>-->
                <!--                    </ul>-->
                <!--                </p>-->
            </div>
            <div class=" col-12 col-md-4" style="text-align: center; margin: 20px 0px;">
                <img src="/media/img/time-is-money.svg" alt="Market Watch">
                <h2 style="font-weight: 900;">ربات معاملاتی</h2>
                <p>
                <ul>
                    <li>ساخت ربات برای معاملات رمزارزها</li>
                    <li>دریافت سیگنال استراتژی خودتان در تلگرام</li>
                    <li>قابلیت بک‌تست و ساخت واچ‌لیست</li>
                    <li></li>
                </ul>
                </p>

            </div>
            <div class=" col-12 col-md-4" style="text-align: center; margin: 20px 0px;">
                <img src="/media/img/time-passing.svg" alt="Market Watch">
                <h2 style="font-weight: 900;">اتصال به بایننس</h2>
                <p>
                <ul>
                    <li>اتصال حساب به بایننس</li>
                    <li>بدون امکان برداشت از حساب</li>
                    <li>خرید و فروش در بایننس بدون فیلترشکن</li>
                    ‌
                </ul>
                </p>
            </div>
        </div>
    </section>
    <!------------------------- wave svg section ------------------------->
    <div id="waves"></div>
    <!-------------------- what we do section -------------------->
    <section class="container" id="what_we_do">
        <div class="row">
            <div class="col-12">
                <h2>ما چه می‌کنیم؟</h2>
            </div>

        </div>
        <div class="row">
            <div class="col-12 col-md-5">
                <p style="text-align: justify">
                    ما در رمزثروت شبکه اجتماعی برای ترید در بازار رمزارزها ایجاد کردیم و کاربران می‌توانند همزمان با
                    نگهداشتن اصل دارایی در نزد خودشان از خدمات ما شامل ساخت ربات و غیره استفاده کنند.
                    نوآوری در ابزار‌ها، اتوماتیک بودن، سهولت در استفاده، سرعت
                    و دقت از ویژگی‌ها منحصر بفرد رمزثروت هستند.
                </p>
            </div>
            <div class="col-12 col-md-7">
                <img src="/media/img/ipad3.png">
            </div>
        </div>
        <a href="#" style="display: none">بیشتر بخوانید <i>x</i></a>
    </section>
    <!---------------- our_capabilities sections ---------------->
    <section class="" id="our_capabilities">
        <h1>قابلیت‌ها رمزثروت</h1>
        <h2>توانایی و وقت شما محدود است، اما ربات‌ها محدودیتی ندارند.</h2>
        <!--<div id="middle_img" style="width:10%;height:10%;right:42%;position:absolute;margin:5em 0 0 3em">-->
        <!--<img src="/media/img/bull.png">-->
        <!--</div>-->
        <div class="container">
            <div class="row" style="margin-top:10vh">
                <div class="col-12 col-md-6 col-lg-4">
                    <h3>بک تست استراتژی</h3>
                    <p>
                        به راحتی استراتژی‌های خود بر اساس اندیکاتور‌های تکنیکال را بسازید و بکتست بگیرید.
                    </p>
                    <!--                    <h3>شبکه اجتماعی ترید</h3>-->
                    <!--                    <p>-->
                    <!--                        به جای سیگنال گرفتن در تلگرام می‌توانید در شبکه اجتماعی رمزثروت عملکرد تریدرها را ببنید و بهترین تریدر را دنبال کنید. تا همان سفارشاتی که برای خودشان انجام می‌دهند برای شما هم اجرا شود.-->
                    <!--                    </p>-->
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <h3>اتصال به trading-view</h3>
                    <p>
                        شما در پروفایل خود می‌توانید یک url جهت استفاده در وب‌هوک trading-view بسازید تا پس از سیگنال
                        تریدینگ‌ویو، معامله توسط ربات انجام شود.
                    </p>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <h3>اتصال به بایننس</h3>
                    <p>
                        با استفاده از خدمات رمزثروت می‌توانید سفارشات خود را در صرافی بایننس ارسال کنید و دیگر نیاز به
                        استفاده از VPN یا VPS ندارید.
                    </p>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <h3>داشبورد تکنیکال</h3>
                    <p>استراتژی تکنیکال بر مبنا اندیکاتور‌های تکنیکال بسازید، بک تست بگیرید سپس بازار را اسکن کنید و
                        سیگنال‌ها
                        خرید و
                        فروش را
                        ببنید.</p>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <h3>بک تست</h3>
                    <p>این قابلیت به شما امکان می دهد تا عملکرد استراتژی خود را در گذشته روی نمادها مطلوب خود ببینید.
                        سود و
                        زیان
                        استراتژی­‌ها مختلف را بسهولت مقایسه کنید و بهترین آنها را انتخاب کنید.</p>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <h3>سیستم اعلان</h3>
                    <p>با ساختن استراتژی، واچ‌لیست و اتصال حساب به تلگرام می‌توانید سیگنال‌های خرید و فروش استراتژی
                        خودتان را روی واچ‌لیست تعیین شده و در تلگرام دریافت کنید.
                    </p>
                </div>


            </div>
        </div>
    </section>
    <!------------------------------- additional info section ------------------------------->
    <section class="container-fluid" id="additional_info">
        <div class="row">
            <div class="col-12 col-md-5">
                <h1>داشبورد تکنیکال</h1>
                <h2>اسکن، بک تست، خرید</h2>
                <p>بر اساس اندیکاتورها تحلیل تکنیکال برای خود استراتژی بسازید، بازار را اسکن کنید، نماد مطلوب را پیدا
                    کنید و به
                    صفحه خرید بروید.</p>
            </div>
            <div class="col-12 col-md-7">
                <img src="/media/img/laptop3.png" alt="Trader-Laptop">
            </div>
        </div>
    </section>
    <!-------------------------------- before footer -------------------------------->
    <section id="before_footer">
        <div>
            <p style="display:inline-block;">برای استفاده از خدمات رمزثروت همین حالا ثبت نام کنید.
            </p>
            <a href="/accounts/sign-up/" id="sign_up_footer">

                ثبت نام

            </a>
        </div>
    </section>
    <!-------------------------------- footer -------------------------------->
    <section id="footer " class="container-fluid " style="background-color: #071c32;">
        <div class="row">
            <div class="col-12 col-md-4">
                <img src="/media/icons/farsi.tag.png" alt="ramzservat" class="footer_img" />
                <!--        <img src="/media/icons/logon.png" width="55%"/>-->
                <p>شبکه اجتماعی رمزارزها</p>
            </div>
            <div class="col-12 col-md-4">
                <hr style="border-color:#45E994">
                <p>تماس با ما</p>
                <ul>
                    <li>اینستاگرام:</li>
                    <li><a href="https://instagram.com/treasurypto">treasurypto</a></li>
                    <li>تلفن:</li>
                    <li>021-28424613</li>
                    <li>ایمیل پشتیبانی:</li>
                    <li>support@ramzservat.com</li>
                </ul>
            </div>
            <div class="col-12 col-md-4">
                <hr style="border-color:#45E994">
                <p>همکاران ما</p>
                <ul>
                    <li><a href="https://coingram.site">کوین‌گرام</a></li>
                </ul>
            </div>
        </div>

    </section>
    <!-------------------------------- footer end -------------------------------->
    <div id="footerend" style='text-align:center;'>
        <p style="display:inline-block;">کلیه حقوق مادی و معنوی متعلق است به رمزثروت</p>

        {# <ul>#}
            {# <li>میزبانی شده توسط <a href="https://parspack.com/">پارس پک</a></li>#}
            {# </ul>#}

    </div>

</body>

</html>