<div class="divTableRow">
    <div class="divTableHead">سفارش</div>
    <div class="divTableHead">نماد</div>
    <div class="divTableHead">تعداد</div>
    <div class="divTableHead">قیمت</div>
    <div class="divTableHead">وضعیت</div>
    <div class="divTableHead"></div>
</div>
{% for order in orders %}
    <div class="divTableRow">
        <div class="divTableCell">
            {{ order.order_side_id }}
        </div>
        <a class="divTableCell" onclick="window.location='/stockwatch/'+'{{ order.symbol_id }}'">
            {{ order.instrument_name }}
        </a>
        <div class="divTableCell">
            {{ order.quantity }}
        </div>
        <div class="divTableCell">
            {{ order.price }}
        </div>
        <div class="divTableCell">
            {{ order.order_state }}
        </div>
        <div class="divTableCell">
            {% if order.order_state != 'لغو شده' and order.order_state != 'کامل معامله شده' %}
                <i class="edit icon" title="ویرایش" style="color: #00ca9d"
                   onclick="{% if order.order_side_id == 'خرید' %}trade('buy','edit',{{ order.OrderId }}){% else %}trade('sell','edit',{{ order.OrderId }}){% endif %}"></i>
                <i class="remove icon" title="انصراف" style="color: #E35C67"
                   onclick="cancelOrder('{{ order.OrderId }}')"></i>
            {% endif %}
        </div>
    </div>
{% endfor %}
<style>
    i:hover {
        cursor: pointer;
    }
</style>