{% extends "base.html" %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block headContent %}
<meta charset="UTF-8">



<!-- Needed stylesheets start -->
<link rel="stylesheet" type="text/css" href="{% static 'css/stockwatch.css' %}?v=1" />
<!-- Needed stylesheets end -->


<!-- Needed scripts start -->
<script>
    var SymbolId = "{{ SymbolId }}",
        user = "{{request.user.username}}";



</script>
<script type="text/javascript" src="{% static 'js/stockwatch.js' %}?v=3"></script>
<!-- Needed scripts end -->


{% endblock headContent %}

{% load i18n %}
{% block bodyContent %}

<!--<div class="container-fluid" dir="rtl">-->
<div class="container-fluid" dir="rtl" style="max-height: 120%;">
    <div class="row" style="min-height: 68%">
        <div class="col" style="padding-left: 0px;width: 25%;padding-right: 10px">
            <!--        <div class="col-xl-3" style="width: 25%; margin-right: 0px;padding-right: 7px;padding-left: 3px">-->
            <div class="row" style="min-height: 45% ; flex-direction: row-reverse;">
                <div class="col-12 col-md-7 col-lg-8 height_fix_mobile">
                    <!--        <div class="col-xl-9" style="width: 75%; padding-left: 0px;padding-right: 0px">-->
                    <!-- TradingView Widget BEGIN -->
                    <div class="tradingview-widget-container">
                        <div id="tradingview_87049"></div>
                        <!--  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/BTCUSDT/?exchange=BINANCE" rel="noopener" target="_blank"><span class="blue-text">BTCUSDT Chart</span></a> by TradingView</div>-->
                        <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
                        <script type="text/javascript">
                            new TradingView.widget(
                                {
                                    "autosize": true,
                                    "symbol": "BINANCE:" + SymbolId,
                                    "interval": "D",
                                    "timezone": "Etc/UTC",
                                    "theme": "dark",
                                    "style": "1",
                                    "locale": "en",
                                    "toolbar_bg": "#f1f3f6",
                                    "enable_publishing": false,
                                    "hide_side_toolbar": false,
                                    "show_popup_button": true,
                                    "popup_width": "1000",
                                    "popup_height": "650",
                                    // "allow_symbol_change": true,
                                    "container_id": "tradingview_87049"
                                }
                            );

                        </script>
                    </div>
                    <!-- TradingView Widget END -->
                    <!--            <div class="xyz" id="chart" style="display:none;min-height: 99%;width: 100%" dir="ltr"></div>-->
                </div>
                <div class="col-12 col-md-5 col-lg-4">
                    <div class="row">
                        <div class="col-12 xyz" id="costs"
                            style="width:100%;min-height: 100%;margin-right: 13px;padding-bottom: 10px;">
                            <div class="divTable margin_for_xl_size">
                                <div class="divTableBody">
                                    <div class="divTableRow">
                                        <br>
                                        <table>
                                            <tr>
                                                <td>نماد</td>
                                                <td>
                                                    <h1>{{SymbolId}}</h1>
                                                </td>
                                                <!--                                            <td id="intervals" style="direction: ltr">-->
                                                <!--                                            </td>-->
                                            </tr>
                                            <tr>
                                                <td style="width: 30%">
                                                    سفارش
                                                </td>
                                                <td>
                                                    <select id="orderType" onchange="changeOrderType(this)"
                                                        style="background-color: #1c1f32; color: white;">
                                                        <option value="LIMIT">Limit</option>
                                                        <!--                                                        <option value="MARKET">Market</option>-->
                                                        <!--                                                    <option>StopLimit</option>-->
                                                        <!--                                                    <option>OCO</option>-->
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>قیمت</td>
                                                <td><input class="paramsInput" type="number" id="price"
                                                        placeholder="قیمت">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>تعداد</td>
                                                <td><input class="paramsInput" type="number" id="quantity"
                                                        placeholder="تعداد"></td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td id="orderMessage">
                                                </td>
                                                <!--                                            <td style="width: 40%"></td>-->
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td>
                                                    <button class="buy__btn" onclick="sendOrder('BUY')">خرید</button>
                                                    <button class="sell__btn" onclick="sendOrder('SELL')">فروش</button>
                                                </td>
                                                <!--                                            <td style="width: 40%"></td>-->
                                            </tr>
                                        </table>
                                        <!--                                    <table>-->
                                        <!--                                    </table>-->
                                        <!--                                    <table>-->
                                        <!--                                        <tr>-->
                                        <!--                                            <td style="width: 37%">-->
                                        <!--                                                <button class="buy__btn" onclick="trade('buy','order','')">خرید</button>-->
                                        <!--                                            </td>-->
                                        <!--                                            <td style="width: 40%"></td>-->
                                        <!--                                            <td>-->
                                        <!--                                                <button class="sell__btn" onclick="trade('sell','order','')">فروش-->
                                        <!--                                                </button>-->
                                        <!--                                            </td>-->
                                        <!--                                        </tr>-->
                                        <!--                                    </table>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin: 0px -17px 0px -41px;">
                        <div class="col-12">
                            <div class="xyz" style="min-width:100%;min-height: 99%" id="queue">
                                <div class="divTable">
                                    <div class="divTableBody" id="depth">
                                        <div class="divTableRow">
                                            {#
                                            <div class="divTableHead" style="color: #26A65B">تعداد</div>
                                            #}
                                            <div class="divTableHead" style="color: #26A65B">حجم</div>
                                            <div class="divTableHead" style="color: #26A65B">خرید</div>
                                            <div class="divTableHead" style="color: #dd4d68">فروش</div>
                                            <div class="divTableHead" style="color: #dd4d68">حجم</div>
                                            {#
                                            <div class="divTableHead" style="color: #dd4d68">تعداد</div>
                                            #}
                                        </div>
                                        <!--                                    <div class="divTableRow" style="background: #4d5068 ">-->
                                        <!--                                        <div class="divTableHead" id="zd1"></div>-->
                                        <!--                                        <div class="divTableHead" id="qd1"></div>-->
                                        <!--                                        <div class="divTableHead" id="pd1q"></div>-->
                                        <!--                                        <div class="divTableHead" id="po1q"></div>-->
                                        <!--                                        <div class="divTableHead" id="qo1"></div>-->
                                        <!--                                        <div class="divTableHead" id="zo1"></div>-->
                                        <!--                                    </div>-->
                                        <!--                                    <div class="divTableRow">-->
                                        <!--                                        <div class="divTableHead" id="zd2"></div>-->
                                        <!--                                        <div class="divTableHead" id="qd2"></div>-->
                                        <!--                                        <div class="divTableHead" id="pd2"></div>-->
                                        <!--                                        <div class="divTableHead" id="po2"></div>-->
                                        <!--                                        <div class="divTableHead" id="qo2"></div>-->
                                        <!--                                        <div class="divTableHead" id="zo2"></div>-->
                                        <!--                                    </div>-->
                                        <!--                                    <div class="divTableRow" style="background: #4d5068 ">-->
                                        <!--                                        <div class="divTableHead" id="zd3"></div>-->
                                        <!--                                        <div class="divTableHead" id="qd3"></div>-->
                                        <!--                                        <div class="divTableHead" id="pd3"></div>-->
                                        <!--                                        <div class="divTableHead" id="po3"></div>-->
                                        <!--                                        <div class="divTableHead" id="qo3"></div>-->
                                        <!--                                        <div class="divTableHead" id="zo3"></div>-->
                                        <!--                                    </div>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <!--                        <div class="xyz" id="costs" style="min-width:100%;min-height: 100%">-->
                    <!--                            <div class="divTable">-->
                    <!--                                <div class="divTableBody">-->
                    <!--                                    <div class="divTableRow">-->

                    <!--                                        <div class="divTableHead">خرید</div>-->
                    <!--                                        <div class="divTableHead">آخرین معامله</div>-->
                    <!--                                        <div class="divTableHead">فروش</div>-->
                    <!--                                    </div>-->
                    <!--                                    <div class="divTableRow">-->
                    <!--                                        <div class="divTableHead" id="pd1"></div>-->
                    <!--                                        <div class="divTableHead" id="LastTradePrice"></div>-->
                    <!--&lt;!&ndash;{#                                        <div class="divTableHead" style="padding:0.5vh 13.5vh 0 0  ;float:right">#}&ndash;&gt;-->
                    <!--&lt;!&ndash;{#                                            <span style="margin-left:0.5vw" id="LastTradePrice"></span>#}&ndash;&gt;-->
                    <!--&lt;!&ndash;{#                                            <span id="ReferencePriceVariation" dir="ltr"></span>#}&ndash;&gt;-->
                    <!--&lt;!&ndash;{#                                            <i style="padding-right:0.5vw">%</i>#}&ndash;&gt;-->
                    <!--&lt;!&ndash;{#                                            <span id="ReferencePriceVariationPercent" dir="ltr"></span>#}&ndash;&gt;-->

                    <!--&lt;!&ndash;{#                                        </div>#}&ndash;&gt;-->
                    <!--                                        <div class="divTableHead" id="po1"></div>-->
                    <!--                                    </div>-->
                    <!--                                    <div class="divTableRow">-->
                    <!--                                        <div class="divTableHead">بیشترین</div>-->
                    <!--                                        <div class="divTableHead">قیمت میانگین</div>-->
                    <!--                                        <div class="divTableHead">کمترین</div>-->
                    <!--                                    </div>-->
                    <!--                                    <div class="divTableRow">-->
                    <!--                                        <div class="divTableCell" id="FirstTradePrice"></div>-->
                    <!--                                        <div class="divTableCell" id="ClosingPrice"></div>-->
                    <!--&lt;!&ndash;{#                                        <div class="divTableCell" style="padding:0.5vh 13.5vh 0 0  ;float:right">#}&ndash;&gt;-->
                    <!--&lt;!&ndash;{#                                            <span style="margin-left:0.5vw" id="ClosingPrice"></span>#}&ndash;&gt;-->
                    <!--&lt;!&ndash;{#                                            <span id="ClosingPriceVariation" dir="ltr"></span>#}&ndash;&gt;-->
                    <!--&lt;!&ndash;{#                                            <i style="padding-right:0.5vw">%</i>#}&ndash;&gt;-->
                    <!--&lt;!&ndash;{#                                            <span id="ClosingPriceVariationPercent" dir="ltr"></span>#}&ndash;&gt;-->

                    <!--&lt;!&ndash;{#                                        </div>#}&ndash;&gt;-->
                    <!--                                        <div class="divTableCell" id="PreviousDayPrice"></div>-->
                    <!--                                    </div>-->
                    <!--                                </div>-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                </div>
            </div>

        </div>

    </div>
    <!--    <br>-->
    <div class="row">
        <div class="col-12 col-lg-6" style="padding: 0px 13px 0px 0px !important;">
            <div class="xyz"
                style="overflow: scroll;  max-height: 100px;width: 101%;min-height: 18vh;margin-right:-5px;"
                id="portfo">
                <div class="divTable">
                    <div>سبد دارایی</div>
                    <div class="divTableBody" id="pportfo">
                        <div class="divTableRow">
                            <div class="divTableHead">نماد</div>
                            <div class="divTableHead">تعداد</div>
                            <div class="divTableHead">بلوکه شده</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6" style="padding: 0px 10px 0px 0px !important;">
            <div class="xyz"
                style="overflow: scroll;  max-height: 100px;min-height: 18vh;width: 100%;margin-right: -5px"
                id="hotlist">
                <div class="divTable">
                    <div>سفارشات</div>
                    <div class="divTableBody" id="orders_place">
                        <div class="divTableRow">
                            <div class="divTableHead">سفارش</div>
                            <div class="divTableHead">نماد</div>
                            <div class="divTableHead">تعداد</div>
                            <div class="divTableHead">قیمت</div>
                            <div class="divTableHead">وضعیت</div>
                            <div class="divTableHead"></div>
                        </div>
                    </div>
                    <style>
                        i:hover {
                            cursor: pointer;
                        }
                    </style>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
</script>
{% endblock bodyContent %}