{% extends "base.html" %}
{% load static %}
{% block title %}تست{% endblock %}
{% block headContent %}
{% csrf_token %}

<link rel="stylesheet" type="text/css" href="{% static 'css/backtest.css' %}" />
<script src="https://code.highcharts.com/stock/highstock.js"></script>

<script src="//raw.githack.com/tahajahangir/jdate/master/jdate.min.js"></script>
{% endblock headContent %}

{% load i18n %}
{% block bodyContent %}
<div dir="ltr" style="height: 100%;overflow: auto;">
    <br>
    <div id="container1" style="background-color: #1c1f32;">
        <div id="container" style=" min-width: 310px;min-height: 600px; width: 100%"></div>
    </div>
    <br>
    <div dir="rtl">
        <p>حد سود: <input id="tp" value="0.2"></p>
        <p>حد ضرر: <input id="sl" value="0.1"></p>
        <br>
        <div id="result"></div>
    </div>
</div>
<script>
    var symbol_id = "{{SymbolId}}";
    $(function () {
        isStrategySaved = false;
        load_data('/data/get-data/' + symbol_id);
        Highcharts.setOptions({
            lang: {
                months: ['فروردين', 'ارديبهشت', 'خرداد', 'تیر', 'مرداد', 'شهریور', 'مهر', 'آبان', 'آذر', 'دی', 'بهمن', 'اسفند'],
                shortMonths: ['فروردين', 'ارديبهشت', 'خرداد', 'تیر', 'مرداد', 'شهریور', 'مهر', 'آبان', 'آذر', 'دی', 'بهمن', 'اسفند'],
                weekdays: ["یکشنبه", "دوشنبه", "سه شنبه", "چهارشنبه", "پنج‌شنبه", "جمعه", "شنبه"]
            }
        });

        Highcharts.createElement('link', {
            href: 'https://fonts.googleapis.com/css?family=Unica+One',
            rel: 'stylesheet',
            type: 'text/css'
        }, null, document.getElementsByTagName('head')[0]);
        Highcharts.theme = {
            colors: ['#2b908f', '#90ee7e', '#f45b5b', '#7798BF', '#aaeeee', '#ff0066', '#eeaaee',
                '#55BF3B', '#DF5353', '#7798BF', '#aaeeee'],
            chart: {
                backgroundColor: {
                    color: '#fff',
                    style: {
                        fontFamily: 'IRANSans'
                    },
                    plotBorderColor: '#606063',
                },
                style: {
                    fontFamily: 'IranSanc'
                },
                plotBorderColor: '#606063',
            },
            title: {
                style: {
                    fontFamily: 'IRANSans',
                    color: '#E0E0E3',
                    // textTransform: 'uppercase',
                    fontSize: '20px'
                }
            },
            subtitle: {
                style: {
                    color: '#E0E0E3',
                    // textTransform: 'uppercase'
                }
            },
            xAxis: {
                gridLineColor: '#707073',
                labels: {
                    style: {
                        color: '#E0E0E3'
                    }
                },
                lineColor: '#707073',
                minorGridLineColor: '#505053',
                tickColor: '#707073',
                title: {
                    style: {
                        color: '#A0A0A3'

                    }
                }
            },
            yAxis: {
                gridLineColor: '#707073',
                labels: {
                    style: {
                        color: '#E0E0E3'
                    }
                },
                lineColor: '#707073',
                minorGridLineColor: '#505053',
                tickColor: '#707073',
                tickWidth: 1,
                title: {
                    style: {
                        color: '#A0A0A3'
                    }
                }
            },
            tooltip: {

                // xDateFormat: '%Y-%m-%d',
                shared: true,
                useHTML: true,
                headerFormat: '<small>{point.key}</small><br><table>',
                pointFormat: '<tr><td style="color: {series.color}">{series.name}: </td>' +
                    '<td style="text-align: right"> <b style="color: {series.color}">{point.y} </b></td></tr>',
                footerFormat: '</table>',
                valueDecimals: 0,

                backgroundColor: 'rgba(0, 0, 0, 0.85)',
                style: {
                    color: '#F0F0F0'
                }
            },
            plotOptions: {
                series: {
                    animation: false,

                    dataLabels: {
                        color: '#B0B0B3'
                    },
                    marker: {
                        lineColor: '#333'
                    }
                },
                boxplot: {
                    fillColor: '#505053'
                },
                candlestick: {
                    lineColor: 'white'
                },
                errorbar: {
                    color: 'white'
                }
            },
            legend: {
                itemStyle: {
                    color: '#E0E0E3'
                },
                itemHoverStyle: {
                    color: '#FFF'
                },
                itemHiddenStyle: {
                    color: '#606063'
                }
            },
            credits: {
                style: {
                    color: '#FFF'
                    // '#666'
                },
                text: 'treasurypto.com',
                href: 'http://www.treasurypto.com'
            },
            labels: {
                style: {
                    color: '#707073'
                }
            },

            drilldown: {
                activeAxisLabelStyle: {
                    color: '#F0F0F3'
                },
                activeDataLabelStyle: {
                    color: '#F0F0F3'
                }
            },

            navigation: {
                buttonOptions: {
                    symbolStroke: '#DDDDDD',
                    theme: {
                        fill: '#505053'
                    }
                }
            },

            // scroll charts
            rangeSelector: {
                buttonTheme: {
                    fill: '#505053',
                    stroke: '#000000',
                    style: {
                        color: '#CCC'
                    },
                    states: {
                        hover: {
                            fill: '#707073',
                            stroke: '#000000',
                            style: {
                                color: 'white'
                            }
                        },
                        select: {
                            fill: '#000003',
                            stroke: '#000000',
                            style: {
                                color: 'white'
                            }
                        }
                    }
                },
                inputBoxBorderColor: '#505053',
                inputStyle: {
                    backgroundColor: '#333',
                    color: 'silver'
                },
                labelStyle: {
                    color: 'silver'
                }
            },

            navigator: {
                handles: {
                    backgroundColor: '#666',
                    borderColor: '#AAA'
                },
                outlineColor: '#CCC',
                maskFill: 'rgba(255,255,255,0.1)',
                series: {
                    color: '#7798BF',
                    lineColor: '#A6C7ED'
                },
                xAxis: {
                    gridLineColor: '#505053'
                }
            },

            scrollbar: {
                barBackgroundColor: '#808083',
                barBorderColor: '#808083',
                buttonArrowColor: '#CCC',
                buttonBackgroundColor: '#606063',
                buttonBorderColor: '#606063',
                rifleColor: '#FFF',
                trackBackgroundColor: '#404043',
                trackBorderColor: '#404043'
            },

            // special colors for some of the
            legendBackgroundColor: 'rgba(0, 0, 0, 0.5)',
            background2: '#505053',
            dataLabelsColor: '#B0B0B3',
            textColor: '#C0C0C0',
            contrastTextColor: '#F0F0F3',
            maskColor: 'rgba(255,255,255,0.3)'
        };
        Highcharts.setOptions(Highcharts.theme);
    });
    function load_data(url) {
        waiting('wait');
        isBacktested = false;
        $.getJSON(url, function (data) {
            // window.history.pushState('page2', 'Title', '/backtest/stock=' + symbol_id);
            // console.log(data);
            data = JSON.parse(data);
            per_name = data['per_name'];
            name = per_name;
            symbol_id = data['measurement_name'];
            data = JSON.parse(data['items']);
            // console.log(data);
            data2 = data;
            var dataLength = data.length;
            groupingUnits = [[
                'day',
                [1]
            ]
                , [
                'week',                         // unit name
                [1]                             // allowed multiples
            ], [
                'month',
                [1, 2, 3, 4, 6]
            ]
            ];
            dohlcv = [];
            ohlc = [];
            for (var i = 0; i < dataLength; i++) {
                ohlc.push([
                    data[i][0], // the date
                    data[i][1], // open
                    data[i][2], // high
                    data[i][3], // low
                    data[i][4] // close
                ]);

                dohlcv.push([
                    data[i][0], // the date
                    data[i][1], // open
                    data[i][2], // high
                    data[i][3], // low
                    data[i][4], // close
                    data[i][5] // the volume
                ]);
            }
            draw_chart();
            document.getElementById('search').children[0].children[0].value = '';
            waiting('default');
            // console.log('default');
        });
    }
    function draw_chart() {
        $('#container').highcharts('StockChart', {
            chart: {
                //test
                events: {
                    click: function (e) {
                        run_test(e.xAxis[0].value);
                    },
                },
            },
            rangeSelector: {
                selected: 1
            },
            plotOptions: {
                series: {
                    animation: false
                }
            },
            title: {
                text: name
            },
            legend: {
                enabled: true
            },
            yAxis: [{
                opposite: false

            }],

            series: [{
                type: 'candlestick',
                name: name,
                data: ohlc,
                id: 'main',
                dataGrouping: {
                    units: groupingUnits
                }
            }
            ],
        });
    }
    $(document).ready(function () {
        $('input.prompt').attr('style', 'background-color:white;text-align: right;font-family:IRANSans; border-radius:4px;height: 5vh;');
        $('.ui.search').search({
            type: 'category',
            error: false,
            onSelect: function (result) {
                var value = result;
                // console.log(value);
                symbol_id = value.symbol_id;
                load_data('/data/get-data/' + symbol_id);
                // console.log(this);
            },
            apiSettings: {
                onResponse: function (serverResponse) {
                    var response = {
                        results: {}
                    };
                    // translate GitHub API response to work with search
                    $.each(serverResponse.items, function (index, item) {
                        // console.log(item);
                        var
                            category = item.category || 'Unknown',
                            maxResults = 8
                            ;
                        if (index >= maxResults) {
                            return false;
                        }
                        // create new language category
                        if (response.results[category] === undefined) {
                            response.results[category] = {
                                name: category,
                                results: []
                            };
                        }
                        // add result to category
                        response.results[category].results.push({
                            // symbol_id=self.SymbolId,//symbol id
                            // kind='kind', // price
                            // category=self.ExchangeName,
                            // symbol_name=self.InstrumentName,//title
                            // name=self.InstrumentName,//discription
                            // description='description',
                            // title='title',
                            title: item.symbol_name,
                            description: item.name,
                            price: item.kind,
                            eng_name: 'eng',
                            // item.eng_name,
                            symbol_id: item.symbol_id,
                        });
                    });
                    return response;
                },
                url: '/data/symbol-search/q={query}'
            }
        });

        $('.ui.search').dblclick(function () {
            $('.ui.search').transition('jiggle');
        });
    });

    function run_test(date) {
        var data = { 'index': date, 'stoploss': Number($('#sl').val()), 'takeprofit': Number($('#tp').val()), 'symbol_id': symbol_id };
        $.ajax({
            type: 'GET',
            url: "/manage-volume",
            data: {
                param: JSON.stringify(data),
            },
            success: function (result) {
                $('#result').html(result);
            }
        })
    }
</script>
{% endblock bodyContent %}