<!DOCTYPE html>
<html lang="en">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<head>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://xtrader.ir/static/js/marketwatch.js"></script>
</head>

<body>


    <div id="filters-place" dir="rtl">
        <div id="stockwatch"></div>
        <div id="fundamental"></div>
    </div>


    <div class="divTable" style="direction: rtl;">
        <div class="divTableBody" id="filters_scan_place">
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                url: 'http://localhost:8000/get-filters',
                success: function (givenfilters) {
                    var filters_data = JSON.parse(givenfilters);
                    insertfilters(filters_data);
                    read_filters();
                    $("select").change(function () {
                        read_filters();
                    });
                },
                error: function (e) {
                    console.log(e)
                }
            });
        });

        function filter_market(filters, page) {
            $.ajax({
                type: 'GET',
                url: "http://localhost:8000/filter-market?page=" + page,
                data: {
                    filters: JSON.stringify(filters),
                },

                error: function (e) {
                    console.log(e);
                },
                success: function (result) {
                    $('#filters_scan_place').html(result);
                }
            });
        }
    </script>
</body>

</html>