{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--    <link rel="icon" type="image/png" href="/media/icons/backtest.png">-->
    <link rel="icon" type="image/png" href="/media/img/sign.png">



    <!-- Needed stylesheets start -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/semantic.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}?v=1" />
    <!-- Needed stylesheets end -->



    <!-- Needed scripts start -->
    <!--    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>-->
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/highstock.js"></script>
    <script src="/static/js/highcharts-more.js"></script>
    <script src="/static/js/jdate.min.js"></script>
    <script src="/static/js/semantic.min.js"></script>
    <script type="text/javascript" src="{% static 'js/base.js' %}"></script>
    <script>
        $(document).ready(function () {
            $("#search-btn").click(function () {
                $("#search-bar").toggle();
            });
        });
    </script>
    <!-- Needed scripts start -->



    {% block headContent %}
    {% endblock headContent %}
</head>

<body>

    <!-- username text and picture + notification button -->

    <div id="top-right-elements-container">
        <div id="user-info" style="text-align: center">
            {{ name }}
        </div>
        {# <a href="#" id="notif-btn"></a>#}
    </div>


    <!-- Search box whith semantic UI -->

    <div class="ui container" id="search-bar" dir="rtl"
        style="position: relative;top:2.4%; left:0; right:0;text-align:center; display:none;">
        <div id="search" class="ui fluid category search">
            <div class="ui icon input" style="width:50%;">
                <input class="prompt" type="search" placeholder="جستجو نماد">
                <i class="search icon"></i>
            </div>
            <div class="results" style="width:50%; margin-left: 25%; display:none; z-index:1000; position:absolute"
                dir="ltr"></div>
        </div>
    </div>


    <!-- Logo and top left menu buttons -->

    <!--{#    <img src="/media/pictures/logo.svg" id="logo-svg">#}-->
    <!--{#    <img src="/media/pictures/logon.png" id="logo-svg" >#}-->
    <img src="/media/icons/farsi.tag.png" id="logo-svg">
    <ul id="top-btns">
        <li class="main-btns" id="search-btn" title="جستجو نماد"></li>
        <a id="copytradingIcon" href="{% url 'social:copy-trading' %}">
            <li class="main-btns" id="marketwatch-btn" title="شبکه اجتماعی ترید"></li>
        </a>
        <a href="{% url 'finance:stock-watch' %}" title="بایننس">
            <li class="main-btns" id="home-btn"></li>
        </a>
        <a href="{% url 'finance:backtest' %}" title="ربات">
            <li class="main-btns" id="backtest-btn"></li>
        </a>
        <a href="/settings">
            <li class="main-btns" id="setting-btn" title="تنظیمات"></li>
        </a>
        <a href="{% url 'accounts:userena-sign-out' %}" title="خروج">
            <li class="main-btns" id="logout-btn"></li>
        </a>
    </ul>
    <!-- left menu buttons -->



    <div id="master__wrapper">


        {% block bodyContent %}

        {% endblock bodyContent %}
    </div>
    <div id="modal" class="modal" style="display: none;z-index:20" dir="rtl">
        <div class="ui icon floating message" style="background-color:#00ca9d">
            <i class="notched circle loading icon"></i>
            <div class="content">
                <div class="header" style="font-family: IRANSans">لطفا صبر کنید.</div>
                <p> رمزثروت در حال محاسبه است.</p>
            </div>
        </div>
    </div>

</body>

</html>