database/db.sqlite3
.idea/*
xtrader/__pycache__
xtrader/__init__.py
xtrader/localsetting.py
.idea/
database/
mabna/__pycache__/*
show/__pycache__/*
api/__pycache__/*
*/__pycache__/*
#*/migrations/*
#mabna/migrations/*
#show/migrations/*
#api/migrations/*
main/__pycache__/*
#main/migrations/*
#finance/migrations/*
TA_Lib*
__pycache__
__pycache__/*
db.sqlite3
errors.log
/data

/venv
