{% extends "base.html" %}
{% load static %}
{% block title %}کپی تریدینگ{% endblock %}
{% block headContent %}
<link rel="stylesheet" type="text/css" href="{% static 'css/copytrading.css' %}?v=1" />
<script src="{% static 'js/copytrading.js' %}"></script>
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.js"></script>-->
<link rel="stylesheet" type="text/css" href="/static/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="/static/js/jquery.dataTables.js"></script>


{% endblock headContent %}

{% load i18n %}
{% block bodyContent %}
<div class="container" style="background:#1c1f32;direction:rtl;">
    <br>
    <h1>شبکه اجتماعی ترید</h1>
    <br>
    <p>با دنبال کردن یک تریدر معاملات ایشان برای شما بصورت خودکار در بایننس کپی می‌شود. (بدون امکان برداشت از حساب شما)
    </p>
    <br>
</div>

<br>
<div id="tableContainer" class="container" style="background:#1c1f32;direction:rtl;">
</div>
{% endblock bodyContent %}