{% extends 'userena/base_userena.html' %}
{% load i18n %}


{% block title %}حساب کاربری شما با موفقیت دوباره فعال شد{% trans "Account re-activation succeeded." %}{% endblock %}
{% block content_title %}<h2>دوباره فعال سازی حساب کاربری {% trans "Account re-activation" %}</h2>{% endblock %}

{% block content %}
<p>شما یک لینک فعال سازی جدید برای حساب کاربری خود درخواست دادید.</p>
<p>لینک فعال سازی به ایمیل شما فرستاده شد .</p>
<p>ما اطلاعات حساب کاربری شما را تا{{ userena_activation_days }}روز نگه داری میکنیم. </p>
{% endblock %}
