{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "بازیابی رمز عبور" %}{% endblock %}

{% block content %}
<br>
<div class="container" style="width: 30%">
    <form action="" method="post">
        <fieldset>
            <legend>{% trans "بازیابی رمز عبور" %}</legend>
            <br>
            {% csrf_token %}
            {{ form.as_p }}
        </fieldset>
        <br>
        <input type="submit" value="تغییر رمز عبور"/>
    </form>
    <style>
        li {
            padding-bottom: 5px;
        }
    </style>
</div>
{% endblock %}
