@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/eot/IRANSansWeb_Bold.eot');
    src: url('../fonts/eot/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'),
        /* IE6-8 */
        url('../fonts/woff2/IRANSansWeb_Bold.woff2') format('woff2'),
        /* FF39+,Chrome36+, Opera24+*/
        url('../fonts/woff/IRANSansWeb_Bold.woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('../fonts/ttf/IRANSansWeb_Bold.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/eot/IRANSansWeb_Medium.eot');
    src: url('../fonts/eot/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'),
        /* IE6-8 */
        url('../fonts/woff2/IRANSansWeb_Medium.woff2') format('woff2'),
        /* FF39+,Chrome36+, Opera24+*/
        url('../fonts/woff/IRANSansWeb_Medium.woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('../fonts/ttf/IRANSansWeb_Medium.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/eot/IRANSansWeb_Light.eot');
    src: url('../fonts/eot/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'),
        /* IE6-8 */
        url('../fonts/woff2/IRANSansWeb_Light.woff2') format('woff2'),
        /* FF39+,Chrome36+, Opera24+*/
        url('../fonts/woff/IRANSansWeb_Light.woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('../fonts/ttf/IRANSansWeb_Light.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/eot/IRANSansWeb_UltraLight.eot');
    src: url('../fonts/eot/IRANSansWeb_UltraLight.eot?#iefix') format('embedded-opentype'),
        /* IE6-8 */
        url('../fonts/woff2/IRANSansWeb_UltraLight.woff2') format('woff2'),
        /* FF39+,Chrome36+, Opera24+*/
        url('../fonts/woff/IRANSansWeb_UltraLight.woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('../fonts/ttf/IRANSansWeb_UltraLight.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/eot/IRANSansWeb.eot');
    src: url('../fonts/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'),
        /* IE6-8 */
        url('../fonts/woff2/IRANSansWeb.woff2') format('woff2'),
        /* FF39+,Chrome36+, Opera24+*/
        url('../fonts/woff/IRANSansWeb.woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('../fonts/ttf/IRANSansWeb.ttf') format('truetype');
}


/* CSS RESET BEGIN */


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

a {
    text-decoration: none;
    color: white;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* CSS RESET END */



html {
    font-size: 16px;
}

body {
    background: #1c1f32;
    overflow-y: hidden;
    font-family: IRANSans, sans-serif;
    color: white;
}

#top-right-elements-container {
    position: fixed;
    height: 5.4vh;
    top: 2vh;
    right: 4vw;
}

#user-info {
    background: #292d48;
    position: relative;
    width: 22vw;
    height: 5.4vh;
    border-radius: 3px;
    line-height: 5.4vh;
    vertical-align: middle;
    display: inline-block;
}

@media only screen and (max-width: 600px) {
    #user-info {
        width: 42vw !important;
    }
}

#user-info img {
    position: absolute;
    float: right;
    border-radius: 50%;
    right: 1.5vh;
    top: 50%;
    margin-top: -2vh;
    height: 4vh;
    width: auto;
}

#user-info a {
    display: inline-block;
    position: absolute;
    float: left;
    font-size: calc(0.6rem + 0.3vw);
    top: 0.1vh;
    left: 0.8vh;
    color: white;

}

#notif-btn {
    border-radius: 3px;
    position: relative;
    width: 5.4vh;
    height: 5.4vh;
    background: #292d48 url(/media/icons/notification.svg) no-repeat center;
    background-size: 2.2vh;
    display: inline-block;
    float: left;
    right: 0.8vh;
}

#logo-svg {
    position: fixed;
    top: 1%;
    left: 8vh;
    height: 7vh !important;
}

@media only screen and (max-width: 600px) {
    #logo-svg {
        display: none !important;
    }
}

.main-btns {
    background: #292d48 no-repeat center;
    background-size: 3vh;
    border-radius: 3px;
    width: 5.4vh;
    height: 5.4vh;
    margin-right: 0.8vh;
    cursor: pointer;
}

#top-btns {
    position: fixed;
    list-style: none;
    top: 2vh;
    left: 30vh;
}

@media only screen and (max-width: 600px) {
    #top-btns {
        left: 0vh !important;
    }
}

#top-btns li {
    float: right;
}

#left-btns {
    position: fixed;
    list-style: none;
    bottom: 5vh;
    left: 1vw;
}

#left-btns li {
    margin-bottom: 0.8vh;
}

#home-btn {
    background-image: url(/media/icons/binance.png)
}

#search-btn {
    background-image: url(/media/icons/search.svg)
}

#marketwatch-btn {
    background-image: url(/media/icons/stockwatch.svg)
}

#backtest-btn {
    background-image: url(/media/icons/backtest.svg);
}

#setting-btn {
    background-image: url(/media/icons/setting.svg)
}

#info-btn {
    background-image: url(/media/icons/info.svg)
}

#logout-btn {
    background-image: url(/media/icons/logout.svg)
}

#master__wrapper {
    /****************Have TO FIX*****************/
    position: relative;
    margin: 0 auto;
    background: #292d48;
    max-width: 92vw;
    height: 92vh;
    left: 0;
    right: 0;
    top: 8vh;
    text-align: center;
    overflow-y: scroll;
    overflow-x: hidden;
    direction: ltr;
}


#nav-bar {
    display: block;
    position: relative;
    width: 98.5%;
    height: 8%;
    background: #1c1f32;
    margin: 0 auto;
    margin-bottom: 1%;
    left: 0;
    right: 0;
    top: 1%;
}

#navbar__title {
    display: inline-block;
    color: white;
    font-size: 3vh;
    margin-top: 1rem;
    margin-right: 2rem;
    float: right;
}

/* MY media Queries */

@media only screen and (max-width: 1380px) {
    #left-btns {
        left: 0.9vw;
    }
}


/* ****************************************************** */

.divTable {
    display: table;
    width: 100%;
    padding: 0.5em 0.4em 0 0.45em;
}

.divTableRow {
    display: table-row;
}

.divTableHeading {
    background-color: #EEE;
    display: table-header-group;
}

.divTableCell,
.divTableHead {
    border: none;
    display: table-cell;
    padding: 5px 10px;
    text-align: center;
    font-size: 1.5vh;
}

.divTableHead {
    padding-top: 1vh;
}

.divTableHeading {
    background-color: red;
    display: table-header-group;
    font-weight: bold;
}

.divTableFoot {
    background-color: #EEE;
    display: table-footer-group;
    font-weight: bold;
}

.divTableBody {
    display: table-row-group;
}



/***************************************************************/

.ui.button,
a {
    font-family: IranSans;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
}

.flex-container>div {
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.customColumnsX {
    width: 25%;
}

button {
    font-family: IranSans;
}

body {
    font-family: IranSans;
}