<div id="user-info">
    <div id="flex-container">
        <section class="section-container">
            <h2>اطلاعات شخصی</h2>
            <div>
                <ul>
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <li>نرگس غریب</li>
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <li>nargesqarib@gmail.com</li>
                    <i class="fa fa-2x fa-mobile" aria-hidden="true"></i>
                    <li>0912424434</li>
                </ul>
            </div>
        </section>

        <section class="section-container border-right">
            <h2>حساب کاربری</h2>
            <ul>
                <li>@Hadi</li>
            </ul>
        </section>
    </div>
</div>